<div class="col-lg-12">
  <div class="row">
    <div class="col-12">
      <form [formGroup]="bookingForm" (ngSubmit)="createBooking()">
        <app-datepicker-range [parentForm]="bookingForm"></app-datepicker-range>
        <div class="form-group">
          <label for="guestsInput">Number of guests *</label>
          <input
            type="number"
            min="1"
            max="15"
            class="form-control"
            id="guestsInput"
            aria-describedby="emailHelp"
            placeholder="First Name"
            formControlName="adults"
            [ngClass]="{
              invalid: adults?.invalid && adults?.touched && adults?.dirty
            }"
          />
          <p
            *ngIf="firstName?.invalid && firstName?.touched && firstName?.dirty"
            class="error-message"
          >
            Required field
          </p>
        </div>
        <div class="form-group">
          <label for="firstNameInput">First Name *</label>
          <input
            type="text"
            class="form-control"
            id="firstNameInput"
            aria-describedby="emailHelp"
            placeholder="First Name"
            formControlName="firstName"
            [ngClass]="{
              invalid:
                firstName?.invalid && firstName?.touched && firstName?.dirty
            }"
          />
          <p
            *ngIf="firstName?.invalid && firstName?.touched && firstName?.dirty"
            class="error-message"
          >
            Required field
          </p>
        </div>
        <div class="form-group">
          <label for="lastNameInput">Last Name *</label>
          <input
            type="text"
            class="form-control"
            id="lastNameInput"
            aria-describedby="emailHelp"
            placeholder="Last Name"
            formControlName="lastName"
            [ngClass]="{
              invalid: lastName?.invalid && lastName?.touched && lastName?.dirty
            }"
          />
          <p
            *ngIf="lastName?.invalid && lastName?.touched && lastName?.dirty"
            class="error-message"
          >
            Required field
          </p>
        </div>
        <div class="form-group">
          <label for="addressInput">Billing Address *</label>
          <input
            type="text"
            class="form-control"
            id="addressInput"
            aria-describedby="emailHelp"
            placeholder="Billing Address"
            formControlName="address"
            [ngClass]="{
              invalid: address?.invalid && address?.touched && address?.dirty
            }"
          />
          <p
            *ngIf="address?.invalid && address?.touched && address?.dirty"
            class="error-message"
          >
            Required field
          </p>
        </div>
        <div class="form-group">
          <label for="countryInput">Country *</label>
          <select
            class="form-select"
            aria-label="Country *"
            formControlName="countryCode"
            (change)="changeCountry($event)"
          >
            <option value="" disabled>Select Country</option>
            <option *ngFor="let country of countries" [value]="country.code">
              {{ country.name }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="postalInput">Postal Code *</label>
          <input
            type="text"
            class="form-control"
            id="postalInput"
            aria-describedby="emailHelp"
            placeholder="Postal Code"
            formControlName="postalCode"
            [ngClass]="{
              invalid:
                postalCode?.invalid && postalCode?.touched && postalCode?.dirty
            }"
          />
          <p
            *ngIf="
              postalCode?.invalid && postalCode?.touched && postalCode?.dirty
            "
            class="error-message"
          >
            Required field
          </p>
        </div>

        <div class="form-group">
          <label for="cityInput">City *</label>
          <input
            type="text"
            class="form-control"
            id="cityInput"
            aria-describedby="emailHelp"
            placeholder="City"
            formControlName="city"
            [ngClass]="{
              invalid: city?.invalid && city?.touched && city?.dirty
            }"
          />
          <p
            *ngIf="city?.invalid && city?.touched && city?.dirty"
            class="error-message"
          >
            Required field
          </p>
        </div>

        <div class="form-group">
          <label for="emailInput">Email *</label>
          <input
            type="email"
            class="form-control"
            id="emailInput"
            aria-describedby="emailHelp"
            placeholder="Email"
            formControlName="email"
            [ngClass]="{
              invalid: email?.invalid && email?.touched && email?.dirty
            }"
          />
          <p
            *ngIf="
              email?.invalid && email?.touched && email?.dirty && !email?.value
            "
            class="error-message"
          >
            Required field
          </p>
          <p
            *ngIf="
              email?.invalid &&
              email?.touched &&
              email?.dirty &&
              email?.errors?.['email']
            "
            class="error-message"
          >
            Invalid email
          </p>
        </div>

        <div class="form-group">
          <label for="phoneInput">Phone Number *</label>
          <input
            type="text"
            class="form-control"
            id="phoneInput"
            aria-describedby="emailHelp"
            placeholder="Phone Number"
            formControlName="phoneNumber"
            [ngClass]="{
              invalid:
                phoneNumber?.invalid &&
                phoneNumber?.touched &&
                phoneNumber?.dirty
            }"
          />
          <p
            *ngIf="
              phoneNumber?.invalid && phoneNumber?.touched && phoneNumber?.dirty
            "
            class="error-message"
          >
            Required field
          </p>
        </div>

        <button type="submit" class="btn btn-primary">Book Now</button>
        <!-- <button class="btn btn-primary" type="button" disabled>
          <span
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"
          ></span>
          Loading...
        </button> -->
      </form>
    </div>
  </div>
</div>
